@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;1,300;1,500;1,900&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 overflow: hidden;
}
*{
  box-sizing: border-box;
}
