@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;1,300;1,500;1,900&display=swap');
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
* {
  box-sizing: border-box;
}

@media(max-width: 800px) {
  body {
    flex-direction: column;
  }
}

.hold{
  border: solid 5px #ccc;
}

.hovered {
  background-color: #333;
  border-color: aliceblue;
  border-style: dashed;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;

}
